html, body{
    margin: 0 auto;
    width: 100%;
    padding: 0;
    background: #000000;
}

.first-block{
    width: 100%;
    height: 100vh;
}

.video-container{
    position: absolute;
    width: 100%;
    height: 100%;
}

video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logo{
    position: fixed;
    cursor: default;
    color: #fff;
    margin-left: 15px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}

nav ul{
    list-style: none;
    overflow: hidden;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
    background: rgba(0,0,0,0.3);
}

nav.black ul{
    background: #000;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    transition: .3s;
    font-weight: lighter;
}

nav ul li a:hover{
    color: #ffdd8c;
    font-size: 18px;
}

.hamburger-menu{
    cursor: pointer;
    color: #fff;
    display: none;
    margin: 0 0 0 15px;
}

.hamburger-menu div{
    width: 30px;
    height: 2px;
    background: #ffffff;
    padding: 0;
    margin: 5px 0 0 0;
    border-radius: 24px;
    transition: .3s;
}

div .line-two{
    width: 10px;
}

div .line-three{
    width: 20px;
}

.hamburger-menu:hover div{
    width: 30px;
}

.header-sub-title {
    color: #848689;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 80px;
    cursor: default;
    z-index: 1;
}

.typewriter-heading{
    display: flex;
    position: absolute;
    top: 30%;
    left: 10%;
}

.blink {
    animation: blink 0.5s infinite;
}
@keyframes blink{
    to { opacity: .0; }
}

.second-block{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.performance-picture{
    background: url("../Images/Polestar-front-side.jpg") 50% 50% no-repeat;
    background-size: cover;
    height: 50%;
    min-width: 300px;
    width: 50%;
    flex-grow: 1;
    order: 2;
}

.performance-text{
    min-width: 250px;
    flex-grow: 1;
    height: 50%;
    background-color: #000000;
    max-width: 50%;
    order: 1;
}

h4{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    margin: 25px;
    letter-spacing: 2px;
    color: white;
}

.performance-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 35px 25px 0 25px;
    letter-spacing: 0.5px;
    color: white;
}

.interior-picture{
    background: url("../Images/ps2_london_interior_1.jpg") 50% 50% no-repeat;
    background-size: cover;
    height: 50%;
    width: 50%;
    min-width: 300px;
    flex-grow: 1;
    order: 3;
}

.interior-text {
    background-color: #000000;
    min-width: 250px;
    flex-grow: 1;
    height: 50%;
    max-width: 50%;
    order: 4;
}

.interior-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 35px 25px 0 25px;
    letter-spacing: 0.5px;
    color: white;
}

.third-block{
    height: 90vh;
    width: 100%;
}

.theme-container{
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.theme-one{
    width: 30%;
    height: 100%;
    background: url("../Images/night.jpg") no-repeat 50% 50%;
    margin: 20px 15px 20px 15px;
    min-width: 350px;
    transition: 1.5s;
}

.theme-two{
    width: 30%;
    height: 100%;
    background: url("../Images/gunmetal.jpg") no-repeat 50% 50%;
    margin: 20px 15px 20px 15px;
    min-width: 350px;
    transition: 1.5s;
}

.theme-three{
    width: 30%;
    height: 100%;
    background: url("../Images/silk.jpg") no-repeat 60% 90%;
    margin: 20px 15px 20px 15px;
    min-width: 350px;
    transition: 1.5s;
}

.theme-one:hover, .theme-two:hover, .theme-three:hover{
    transform: scale(1.05);
    font-size: 25px;
    color: #ffdd8c;
    font-weight: bold;
}

.theme-one:hover h5, .theme-two:hover h5, .theme-three:hover h5{
    font-size: 25px;
    color: #ffdd8c;
    font-weight: bold;
    letter-spacing: 5px;
}

h5{
    color: white;
    font-size: 24px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    transition: 1.5s;
}

.footer{
    height: 10vh;
    width: 100%;
    display: flex;
}

.rights{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.rights p{
    color: white;
    font-family: DINPro;
}

.socials{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social-icons{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
}

.twitter{
    height: 50px;
    width: 50px;
    background: url("../Images/twitter.png") no-repeat;
    background-size: cover;
}

.instagram{
    height: 40px;
    width: 40px;
    background: url("../Images/instagram.png") no-repeat;
    background-size: cover;
}

.facebook{
    height: 40px;
    width: 40px;
    background: url("../Images/facebook.png") no-repeat;
    background-size: cover;
}

.snapchat{
    height: 50px;
    width: 50px;
    background: url("../Images/snapchat.png") no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1125px){

    .header-sub-title{
        font-size: 50px;
    }

    .typewriter-heading{
        top: 35%;
        left: 30%;
    }

    h4{
        font-size: 20px;
    }

    .performance-text p{
        font-size: 16px;
    }

    .interior-text p{
        font-size: 16px;
    }

    .third-block{
        height: 170vh;
    }
}


@media only screen and (max-width: 700px) {

    .logo{
        position: fixed;
        top: 0;
        right: 10px;
    }

    nav{
        display: flex;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        justify-content: center;
        text-align: center;
    }

    nav.black ul{
        background: rgba(0,0,0,0);
    }

    nav ul{
        max-height: 0px;
        background: rgba(0, 0, 0, 0);
        margin-top: 60px;
    }

    .showing{
        max-height: 20em;
    }

    nav ul li{
        width: 100%;
        padding: 20px 0 0 0;
    }

    nav ul li:last-child{
        margin-bottom: 30px;
    }

    .hamburger-menu{
        position: fixed;
        display: block;
        margin: 16px 0 10px;
        left: 10px;
    }

    .header-sub-title{
        font-size: 40px;
    }

    .typewriter-heading{
        display: flex;
        position: absolute;
        top: 40%;
        left: 10%;
        z-index: 1;
    }

    h4{
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 18px;
        margin: 25px;
        letter-spacing: 2px;
    }

    .first-block{
        height: 85vh;
    }

    .video-container{
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .second-block{
        height: 150vh;
    }

    .performance-text{
        max-width: 100%;
        height: 30%;
        order: 1;
    }

    .performance-picture{
        height: 20%;
    }

    .performance-text p{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        margin: 35px 25px 0 25px;
        letter-spacing: 0.5px;
    }

    .interior-text{
        max-width: 100%;
        height: 25%;
        order: 3;
    }

    .interior-picture{
        order: 4;
        height: 25%;
    }

    .interior-text p{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        margin: 35px 25px 0 25px;
        letter-spacing: 0.5px;
    }

    .third-block{
        height: 250vh;
    }

    .social-icons{
        justify-content: space-between;
        margin: 0;
        height: 50%;
        width: 75%;
    }

    .twitter{
        height: 25px;
        width: 25px;
    }

    .instagram{
        height: 20px;
        width: 20px;
    }

    .facebook{
        height: 25px;
        width: 20px;
    }

    .snapchat{
        height: 30px;
        width: 25px;
    }

    .rights{
        font-size: 12px;
    }
}