html, body{
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

.first-block{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: url("Images/Polestar-cliff.jpg") 60% 10% no-repeat;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logo{
    position: fixed;
    cursor: default;
    color: #fff;
    margin-left: 15px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}

nav ul{
    list-style: none;
    overflow: hidden;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
    background: rgba(0,0,0,0.3);
}

nav.black ul{
    background: #000;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    transition: .3s;
    font-weight: lighter;
}

nav ul li a:hover{
    color: #ffdd8c;
    font-size: 18px;
}

.hamburger-menu{
    cursor: pointer;
    color: #fff;
    display: none;
    margin: 0 0 0 15px;
}

.hamburger-menu div{
    width: 30px;
    height: 2px;
    background: #ffffff;
    padding: 0;
    margin: 5px 0 0 0;
    border-radius: 24px;
    transition: .3s;
}

div .line-two{
    width: 10px;
}

div .line-three{
    width: 20px;
}

.hamburger-menu:hover div{
    width: 30px;
}

.header-sub-title {
    color: #848689;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40px;
    cursor: default;
    z-index: 1;
}

.typewriter-heading{
    display: flex;
    position: absolute;
    top: 32%;
    left: 35%;
}

.blink {
    animation: blink 0.5s infinite;
}
@keyframes blink{
    to { opacity: .0; }
}

.second-block{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.performance-picture{
    background: url("Images/Polestar-front-side.jpg") 50% 50% no-repeat;
    background-size: cover;
    height: 100%;
    min-width: 200px;
    width: 50%;
    flex-grow: 1;
}

.performance-text{
    min-width: 250px;
    max-width: 50%;
    flex-grow: 1;
    height: 100%;
    background-color: gainsboro;
}

h4{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    margin: 25px;
    letter-spacing: 2px;
}

.performance-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 35px 25px 0 25px;
    letter-spacing: 0.5px;
}

.interior-picture{
    background: url("Images/ps2_london_interior_1.jpg") 50% 50% no-repeat;
    background-size: cover;
    height: 100%;
    width: 50%;
    min-width: 200px;
    flex-grow: 1;
}

.interior-text {
    background-color: gainsboro;
    min-width: 250px;
    max-width: 50%;
    flex-grow: 1;
    height: 100%;
}

.interior-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 35px 25px 0 25px;
    letter-spacing: 0.5px;
}


@media only screen and (max-width: 650px) {

    .first-block{
        background-position: 70% 10%;
    }

    .logo{
        position: fixed;
        top: 0;
        right: 10px;
    }

    nav{
        display: flex;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        justify-content: center;
        text-align: center;
    }

    nav.black ul{
        background: rgba(0,0,0,0);
    }

    nav ul{
        max-height: 0px;
        background: rgba(0, 0, 0, 0);
        margin-top: 60px;
    }

    .showing{
        max-height: 20em;
    }

    nav ul li{
        width: 100%;
        padding: 20px 0 0 0;
    }

    nav ul li:last-child{
        margin-bottom: 30px;
    }

    .hamburger-menu{
        position: fixed;
        display: block;
        margin: 16px 0 10px;
        left: 10px;
    }

    .header-sub-title{
        font-size: 30px;
    }

    .typewriter-heading{
        display: flex;
        position: absolute;
        top: 15%;
        left: 10%;
        z-index: 1;
    }

    h4{
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 18px;
        margin: 25px;
        letter-spacing: 2px;
    }

    .performance-text p{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        margin: 35px 25px 0 25px;
        letter-spacing: 0.5px;
    }

    .interior-text p{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        margin: 35px 25px 0 25px;
        letter-spacing: 0.5px;
    }
}